# Virtual env
stocksvenv/
venv/

# allow raw stock data
!data/raw/

# Ignore notebooks
*.ipynb

# Ignore large temp files
*.csv

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store

# Jupyter
.ipynb_checkpoints/